---
title: Family Medicine Study Guide
description: >-
  Written by physicians, the Family Medicine Study Guide is a non-profit
  portable curriculum that includes 50 original case studies and over 250
  questions to help motivate, guide and assist you in your studying.
---

<!DOCTYPE html>
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
{% include head.html %}
{% include random-questions.html %}

<body>
	<div id="header" class="content">
		{% include nav.html %}
		<div class="flex">
			<div class="left-column">
				<div id="title" class="editable"><p>A 'study buddy' for family medicine curriculums</p></div>
				<div id="description" class="editable"><p>Written by physicians, the Family Medicine Study Guide is a non-profit portable curriculum that includes 65 original case studies, 312 short answer questions, 125 rapid fire questions and 25 "Quick Pix" dermatology cases with 82 related questions to help motivate, guide and assist you in your studying.</p><p>A charitable educational project.</p><p>Learn &amp; Give Back.&nbsp;</p><p>Click on <strong>About Us, Giving Back </strong>&amp;<strong> Updates</strong>&nbsp;above...</p></div>
				<div id="download-links">
					<a id="apple" href="https://itunes.apple.com/us/app/family-medicine-study-guide/id1072407249?ls=1&amp;mt=8"><img src="images/apple.svg" /></a>
					<a id="google" href="https://play.google.com/store/apps/details?id=ca.familymedicinestudyguide.fmstudyguide"><img src="images/google.png" /></a>
				</div>
			</div>
			<div class="right-column" style="position:relative">
				<img id="header-pic" src="images/hero.png" />
			</div>
		</div>
	</div>
	<div id="feature-header" class="content">
		<h1 class="editable">What makes this app special?</h1>
	</div>
	<div class="content flex feature">
		<div class="left-column animate">
			<h3 class="feature-title editable">"SAMPs"</h3>
			<p class="editable">Enhance your learning with "<strong>Short Answer Management Problems</strong>" designed to test you on a variety of key points that are relevant to each case. &nbsp;Links to additional resources and guidelines allow you to explore each topic in further detail in order to compliment your learning experience. &nbsp;Track your progress by completing cases and flagging others that may require additional work.</p> 
		</div>
		<div class="right-column animate">
			<img class="feature-pic" title="Learn through application" alt="brain and pencil" src="images/features/feature1.svg" />
		</div>
	</div>
	<div class="content flex feature">
		<div class="left-column animate">
			<h3 class="feature-title editable">"Clinical Pearls"</h3>
			<p class="editable">Each case includes "<strong>Clinical Pearls</strong>" that offer quick reminders and tricks to help commit key information to memory. &nbsp;Emphasize your learning with acronyms, patterns and keywords!&nbsp;</p> 
		</div>
		<div class="right-column animate">
			<img class="feature-pic" title="Clinical Pearls" alt="clinical pearl on a page" src="images/features/feature2.svg" />
		</div>
	</div>
	<div class="content flex feature">
		<div class="left-column animate">
			<h3 class="feature-title editable">"Rapid Fire Questions"</h3>
			<p class="editable">Short on time? &nbsp;Test yourself with "<strong>Rapid Fire Questions</strong>" that quiz you on random topics in Family Medicine. &nbsp;They're a great way to improve spontaneous recall.</p> 
		</div>
		<div class="right-column animate">
			<img class="feature-pic" title="Rapid Fire Questions" alt="question mark box for rapid fire questions." src="images/features/feature3.svg" />
		</div>
	</div>
	<div class="content flex feature" style="padding-bottom:50px">
		<div class="left-column animate">
			<h3 class="feature-title editable">"Quick Pix"</h3>
			<p class="editable">Improve your dermatology skills with the "<strong>Quick Pix</strong>" Section! &nbsp;Real patient images and relevant clinical questions are perfect for preparing you for real-world primary care dermatology cases.</p> 
		</div>
		<div class="right-column animate">
			<img class="feature-pic" title="Dermatology Quick Pix" src="images/features/feature5.svg" />
		</div>
	</div>
	{% if site.data.values.show_msk_medicine %}
	<div class="content flex feature" style="padding-bottom:50px">
		<div class="left-column animate">
			<h3 class="feature-title editable">Title for new MSK Medicine Section</h3>
			{% if site.data.values.show_new_msk_medicine %}
				<span class="new-feature">NEW FEATURE</span>
			{% endif %}
			<p class="editable">Placeholder text for description of Mini Podcasts section. Add a sentence or two here describing the feature. Make sure you update this before saving the site with this displayed.</p> 
		</div>
		<div class="right-column animate">
			<img class="feature-pic" title="MSK Medicine" src="images/features/feature6.svg" />
		</div>
	</div>
	{% endif %}
	{% if site.data.values.show_mini_podcasts %}
	<div class="content flex feature" style="padding-bottom:50px">
		<div class="left-column animate">
			<h3 class="feature-title editable">"Mini-Podcasts"</h3>
			{% if site.data.values.show_new_mini_podcasts %}
				<span class="new-feature">NEW FEATURE</span>
			{% endif %}
			<p class="editable">Coming Soon !<br /><br />"<strong>Learn on the Go</strong>" with the new Mini-Podcast Section. &nbsp;These short, concise and clinically relevant podcasts will help improve your clinical skills and review key topics that are required for everyday primary care practice.</p> 
		</div>
		<div class="right-column animate">
			<img class="feature-pic" title="Rapid Fire Questions" src="images/features/feature7.svg" />
		</div>
	</div>	
	{% endif %}
	<div id="samples-header" class="content flex">
		<div class="left-column animate">
			<h1>
				Try a sample question
				<a href="" onclick="event.preventDefault(); changeRandomQuestion();" id="refresh"><img class="refresh-icon" src="images/refresh-icon.svg" /></a>
			</h1>
		</div>
		<div class="right-column animate">
			<div class="button"><a href="" onclick="event.preventDefault(); showAnswer();">Show the answer</a></div>
		</div>
	</div>
	<div id="samples-body" class="content flex">
		<div class="left-column animate">
			<p id="sample-question"></p>
		</div>
		<div class="right-column animate">
			<p id="sample-answer"></p>
		</div>
	</div>
	<script type="text/javascript">changeRandomQuestion();</script>
	
	<div id="screenshots" class="content">
		<h1 class="animate">Screenshots <span style="opacity:0.5">:</span></h1>
		<div id="grid" class="flex animate">
			<div class="grid-img"><a href="images/screenshots/1.png"><img src="images/screenshots/1.png" /></a></div>
			<div class="grid-img"><a href="images/screenshots/2.png"><img src="images/screenshots/2.png" /></a></div>
			<div class="grid-img"><a href="images/screenshots/3.png"><img src="images/screenshots/3.png" /></a></div>
			<div class="grid-img"><a href="images/screenshots/4.png"><img src="images/screenshots/4.png" /></a></div>
			<div class="grid-img"><a href="images/screenshots/5.png"><img src="images/screenshots/5.png" /></a></div>
			<div class="grid-img"><a href="images/screenshots/7.png"><img src="images/screenshots/7.png" /></a></div>
		</div>
	</div>

	{% include footer.html %}
	<script src="js/grid.js"></script>
	<script type="text/javascript">
		grid.run('#grid', {buttons:false, animation:false});
	</script>
</body>
