<div id="footer" class="content flex">
	<h4 id="contact-us" class="animate">Contact us <span style="opacity:0.3">:</span></h4>
	<div id="author-footer" class="animate">
		<b>Dr Daniel Léger, CCFP, MD, BSc</b><br>
		Assistant Professor of Family Medicine<br>
		<a href="http://www.schulich.uwo.ca/">Schulich School of Medicine &amp; Dentistry</a><br>
		<a href="http://www.uwo.ca">Western University</a>
	</div>
	<div id="contacts" class="animate">
		<div id="email" class="icon"><i class="fa fa-envelope-o mail"></i></div><a href="mailto:fmstudyguide@gmail.com">fmstudyguide@gmail.com</a><br>
		<div id="facebook" class="icon"><i class="fa fa-facebook"></i></div><a href="https://www.facebook.com/groups/1507924616188858/">Facebook</a><br>
		<div id="twitter" class="icon"><i class="fa fa-twitter"></i></div><a href="https://twitter.com/fm_studyguide">Twitter</a>
	</div>
</div>

<script src="{{ site.root }}/js/scrollreveal.min.js"></script>
<script type="text/javascript">
	window.sr = ScrollReveal();
	sr.reveal('.animate', { duration: 500, distance: '10px', scale: 1 } );
</script>